In [1]:
list1= ['Melissa', "Whisky", "Sourav"]

In [2]:
list1

['Melissa', 'Whisky', 'Sourav']

In [3]:
print(list1)

['Melissa', 'Whisky', 'Sourav']

- there are 4 built in data types: list, Tuples, Set and Dictionary
- Ordered 
- new one will be placed at end of list
- changeable: add, remove, chnage items
- Allow duplicates

In [4]:
#length

len(list1)

3

In [5]:
print(len(list1))

3

In [6]:
# data types

list2= ['Melissa', 1, 56.6, "Whisky", True, False, "Sourav"]
list2

['Melissa', 1, 56.6, 'Whisky', True, False, 'Sourav']

In [7]:
# type

type(list2)

list

In [9]:
# list constuctor: double bracket

list_constructor= list(("this", "is", "list", "constructor"))

In [10]:
list_constructor

['this', 'is', 'list', 'constructor']

In [11]:
type(list_constructor)

list

In [12]:
# accessing

list2[3]

'Whisky'

In [13]:
# access last item 

list2[-1]

'Sourav'

In [15]:
list2

['Melissa', 1, 56.6, 'Whisky', True, False, 'Sourav']

In [14]:
# return range of index

list2[2:4] 
#this returns from index 2 till 4. 4th index is discarded

[56.6, 'Whisky']

In [16]:
# print from beginning and not kiwi

list3= ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [18]:
list3[:4]

['apple', 'banana', 'cherry', 'orange']

In [19]:
# from cherry till end 
list3[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [20]:
# return items from orange but not mango 
list3[-4: -1]

['orange', 'kiwi', 'melon']

In [22]:
list3[3:6]

['orange', 'kiwi', 'melon']

In [25]:
# to check if item exists

if "kiwi" in list3:
    print("Kiwi exists in fruit list")

Kiwi exists in fruit list

In [27]:
if "melissa" in list3:
    print("Melissa exists in list")
else:
    print("Melissa doesnt exist in list")

Melissa doesnt exist in list

In [31]:
# Change item value
list3

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [32]:
list3[3] = "papaya"
list3

['apple', 'banana', 'cherry', 'papaya', 'kiwi', 'melon', 'mango']

In [33]:
# change the range of items

list3[1:3]= ["strawberry", "watermelon"]
list3

['apple', 'strawberry', 'watermelon', 'papaya', 'kiwi', 'melon', 'mango']

In [34]:
# cant add new item by using index
list3[7]= "tomato"

IndexError: list assignment index out of range

In [35]:
# replace 2nd index with 2 new values
# changes from strawberry to Melissa Vidiera
list3[1:2]= ["Melissa", "Vidiera"]
list3

['apple',
 'Melissa',
 'Vidiera',
 'watermelon',
 'papaya',
 'kiwi',
 'melon',
 'mango']

In [37]:
#I cant replace one value with 2 value using one index. it will be replaced as list.

list3[1]= ["Whisky", "Vidiera"]
list3

['apple',
 ['Whisky', 'Vidiera'],
 'Vidiera',
 'watermelon',
 'papaya',
 'kiwi',
 'melon',
 'mango']

### Add list items

1. list.append("item"): add item at the end
2. list.insert(index,"item")
3. list.extend(list2): here list2 is appended to list1

In [41]:
# using apend

list4= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [42]:
list4.append("Grapes")

In [43]:
list4

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [45]:
# insert

list4.insert(1, "pomagranate")
list4

# I ran this piece of code twice hence it is showing pomagranate twice, added to index 2 twice

['apple',
 'pomagranate',
 'pomagranate',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'Grapes']

In [47]:
veggies=['Carrot', "beet","cucumber"]
list4= list4.extend(veggies)
print(list4)

#dont use extend() and assign to list1

AttributeError: 'NoneType' object has no attribute 'extend'

In [49]:
veggies=['Carrot', "beet","cucumber"]
list4.extend(veggies)
print(list4)
#didnt write list4 here, so getting an error

AttributeError: 'NoneType' object has no attribute 'extend'

In [50]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [52]:
list4= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
veggies=['Carrot', "beet","cucumber"]

list4.extend(veggies)
list4

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'Carrot',
 'beet',
 'cucumber']

In [3]:
#  Adding any iterables to list: iterbales are list, set, tuples, dictionary
# adding set to list using extend. and elements from set are added into list with no chnage in type of list

list5=["apple", "banana", "cherry"]
set1= ("Kiwi","Orange")

list5.extend(set1)
list5

['apple', 'banana', 'cherry', 'Kiwi', 'Orange']

In [4]:
type(list5)

list

In [5]:
list6=["apple", "banana", "cherry"]
set2= {"Kiwi","Orange"}
list6.extend(set2)
list6

['apple', 'banana', 'cherry', 'Kiwi', 'Orange']

In [6]:
list7=["apple", "banana", "cherry"]
dict2= {1: "Kiwi",2:"Orange"}
list7.extend(dict2)
list7

['apple', 'banana', 'cherry', 1, 2]

In [7]:
# adding list to dictionary

dict2= {"Age": [10,20,30,40]}
dict2["Age"].extend([50,60])

dict2

{'Age': [10, 20, 30, 40, 50, 60]}

###  Remove items from list

#### 4 ways

1. remove("item"): item from the list will be removed 
2. pop(index): indexed item will be deleted.
3. del: del is the keyword. ex: del list[index]: indexed item will be deleted. Entire list will be non existent
4. clear(): everything will be cleared frm the list, but list will be intact

In [8]:
list8= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']
list8.remove('banana')
list8

['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [9]:
list8.remove('carrot')

#trying to remove the item which is not in the list

ValueError: list.remove(x): x not in list

In [10]:
list8.remove('banana')
#it is already removed, cant be removed twice.

ValueError: list.remove(x): x not in list

In [11]:
list9= ['apple', 'banana', 'cherry', 'banana','orange', 'kiwi', 'melon', 'mango', 'Grapes']
#there are 2 occurances of banana.both occurances will be deleted.

In [13]:
list9.remove('banana')
list9

['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [15]:
list10= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']
list10.pop()
# if no index is mentioned, it wil pop last item frm the list

'Grapes'

In [16]:
list10

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [17]:
list10.pop(2)

'cherry'

In [18]:
list10

['apple', 'banana', 'orange', 'kiwi', 'melon', 'mango']

In [20]:
# del keyword

list11= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']
del list11[0]
list11

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

In [21]:
del list11

In [23]:
print(list11)

NameError: name 'list11' is not defined

In [25]:
# clear() method: this is used to clear entire items in the list. indexing doesnt work 

list12= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']
list12.clear(0)
list12

TypeError: list.clear() takes no arguments (1 given)

In [27]:
#list exists, return empty list
list12.clear()
list12

[]

### Loop list: how to loop a list
1. for loop
2. range()
3. while loop()
4. list comprehension

In [28]:
#1. for loop 

list13= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']
for i in list13:
    print(i)

apple
banana
cherry
orange
kiwi
melon
mango
Grapes

In [31]:
# while loop
i= 0
n= len(list13)

while(i< n):
    print(list13[i])
    i += 1

apple
banana
cherry
orange
kiwi
melon
mango
Grapes

In [33]:
# Range
n= len(list13)

for i in range(n):
    print(list13[i])

apple
banana
cherry
orange
kiwi
melon
mango
Grapes

In [34]:
# List comprehension

[print(x) for x in list13]

apple
banana
cherry
orange
kiwi
melon
mango
Grapes

[None, None, None, None, None, None, None, None]

### List comprehension:

#### Syntax:
- newlist = [expression for item in iterable if condition == True]


- used to creare a new list based on the value of existing list
- ex: in list 1, if there is character 'a' in item apend that into new list

In [36]:
list14= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Grapes']

new_list = []

for i in list14:
    if "a" in i:
        new_list.append(i)
        
print(new_list)

['apple', 'banana', 'orange', 'mango', 'Grapes']

In [40]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### List sorting:

1. Alphabetically or numerically Ascending: sort() 
2. Descending: sort(reverse= True)
3. reverse() method
4. Customized

In [45]:
# ascending and descending

list15= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']
list15.sort()
list15

['apple', 'banana', 'cherry', 'grapes', 'kiwi', 'mango', 'melon', 'orange']

In [46]:
#descending
list15.sort(reverse= True)
list15

['orange', 'melon', 'mango', 'kiwi', 'grapes', 'cherry', 'banana', 'apple']

In [47]:
# sort() is case sensitive. capital ones will be sorted as first

list16= ['apple', 'banana', 'cherry', 'Orange', 'kiwi', 'melon', 'mango', 'Grapes']
list16.sort()
list16

['Grapes', 'Orange', 'apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon']

In [51]:
#  to make it case insenstive, pass argument: key= str.lower. 
# key is the keyword within the sort() where the operation takes place. ex: here strings are converted into lower 
#and then sorting is performed


list16.sort(key= str.lower)
list16

['apple', 'banana', 'cherry', 'Grapes', 'kiwi', 'mango', 'melon', 'Orange']

In [49]:
list17= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']
list17.reverse()
list17

['grapes', 'mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [52]:
#customized: sort based on how close numner i to 50

def myfunc(n):
    return abs(n- 50) 

# this function will subtract all the numbers in list18 and return absolute value, negatives are not considered
    

list18= [100,50,39,11,90]
list18.sort(key= myfunc)
list18

#

[50, 39, 11, 90, 100]

In [53]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

### copy list
- using copy()
- assigning to new list
- using list()
- slicing with index

In [54]:
# using copy 

list19= ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

copy_list19= list19.copy()
copy_list19

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

In [56]:
copy_list20= list19
copy_list20

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

In [57]:
copy_list21= list(list19)
copy_list21

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

In [58]:
copy_list22= list19[:]
copy_list22

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

### joining list

1. using + operand
2. using extend()
3. using append()

In [59]:
# using + 

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3= list1 + list2

list3

['a', 'b', 'c', 1, 2, 3]

In [63]:
#using extend
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)


#here I cant use: list3= list1.extend(list2)

['a', 'b', 'c', 1, 2, 3]

In [65]:
# using append()

# I cant use append() and pass whole list. Instead

list3= list1.append(list2)
list3

In [68]:
# I need to use for() to append

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]


for i in list2:
    list1.append(i)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]