### Tuples

- Tuple is collection whih is ordered and unchangeable
- Ordered: Items are defined ordered and will not be changed.
- Unchangeable:cant change, add or removed once it has been created. 
- It allows duplicates.

In [1]:
tup1= ("apple", "banana", "cherry", "apple", "cherry")
tup1

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [2]:
type(tup1)

tuple

In [3]:
len(tup1)

5

In [5]:
# creating tuple with one element

tup1= ("apple")
type(tup1)

#if I enter just one element, it wont be considered as tuple, instead as string. to create with 1 element use comma

str

In [6]:
tup1= ("apple" , )
type(tup1)

tuple

In [8]:
# multiple data types

tup2= ("Melissa", 50, "Vidiera", 134.90, "Whisky", True, False)
print(type(tup2))
tup2

<class 'tuple'>

('Melissa', 50, 'Vidiera', 134.9, 'Whisky', True, False)

In [9]:
type(tup2)

tuple

In [11]:
# tuple constructor

tup_const= (("Apple", "Banana", "Cherry"))
type(tup_const)

tuple

In [12]:
tup_const

('Apple', 'Banana', 'Cherry')

### Accessing Tuple Items:
- Indexing
- Negative indexing
- Range
- Range of negative index
- check if item exists

In [14]:
# 1. indexing

tup3= ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tup3[6]

'mango'

In [15]:
tup3[9]

IndexError: tuple index out of range

In [16]:
tup3[2:5]

('cherry', 'orange', 'kiwi')

In [17]:
tup3[-1]

'mango'

In [19]:
tup3

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [27]:

tup3[-4:-1]

('orange', 'kiwi', 'melon')

In [28]:
tup3[-5:-2]

('cherry', 'orange', 'kiwi')

In [24]:
tup3[2:]

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [26]:
tup3[:5]

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [29]:
#check if item exist

if "banana" in tup3:
    print(True)

True

In [30]:
if "strawberry" in tup3:
    print(True)
else:
    print(False)

False

### Update Tuples

- Tuples cant be updated like list. Unchangeable
- Immutable
- to change the valye of tuple, convert that into list.then update. convert the list back into tuple

In [35]:
tup4=('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

tup4[2] = "Melissa"

tup4

TypeError: 'tuple' object does not support item assignment

In [36]:
tup4=('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
tup_to_list = list(tup4)

tup_to_list[2] = "Melissa"

tup4 = tuple(tup_to_list)

tup4

('apple', 'banana', 'Melissa', 'orange', 'kiwi', 'melon', 'mango')

### Adding item to tuple
1. 
- As tuple is immutable, I can not use append() to add item. 
- Convert tuple into list
- add item using append()
- convert back to tuple

2. Adding 2 tuples:
- using + operator. 
- create tuples with one or more elements and add using + operator

In [39]:
tup5=('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
tup_to_list1 = list(tup4)

tup_to_list1.append("watermelon")

tup5= tuple(tup_to_list1)
tup5

('apple',
 'banana',
 'Melissa',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'watermelon')

In [41]:
tup6= ("Apple", "Banana", "Cherry")
tup7= ("Orange",)

tup6= tup6+tup7
tup6

('Apple', 'Banana', 'Cherry', 'Orange')

In [44]:
#other way of adding: increment operator
# adding multiple items to tuple

tup8= ("carrot", "beetroot", "beans")
tup6 += tup8
tup6

#ran twice, so added twice

('Apple',
 'Banana',
 'Cherry',
 'Orange',
 'carrot',
 'beetroot',
 'beans',
 'carrot',
 'beetroot',
 'beans')

In [47]:
# instead of ("Orange",): try ("Orange"): this will be considered as str
tup9= ("Apple", "Banana", "Cherry")
tup10= ("Orange")
tup9= tup9+tup10
tup9

TypeError: can only concatenate tuple (not "str") to tuple

### Unpack tuples:

- assigning values to tuples are called packing. 
- Extracting values back into variables are called unpacking

In [48]:
# packing

tup9 = ("apple", "banana", "cherry")

In [49]:
#unpacking: DO NOT USE " "

("carrot", "beet", "beans") = tup9

SyntaxError: cannot assign to literal (3797974392.py, line 3)

In [50]:
#unpacking: assigning the values of tuples into variables

tup9 = ("apple", "banana", "cherry")

(carrot, beet, beans) = tup9

print(carrot)
print(beet)
print(beans)

apple
banana
cherry

In [52]:
# if number of variables is less than number of values, use asterisk * 

tup10=('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

(green, yellow, *red) = tup10

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [53]:
# similarly, if I give asterisk in second varibale. it fetches all others apart from first and last
tup11=('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

(green, *yellow, red) = tup10

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'orange', 'kiwi', 'melon']
mango

In [54]:
tup12=('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

(*green, yellow, red) = tup10

print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry', 'orange', 'kiwi']
melon
mango

### Tuple loops
- for loop
- while loop
- range(len(tuple))

In [57]:
# for loop

tup13=('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

for i in tup13:
    print(i)
    
    #not print(tup13[i])

apple
banana
cherry
orange
kiwi
melon
mango

In [59]:
# while

i = 0
n = len(tup13)

while(i<n):
    print(tup13[i])
    i += 1

apple
banana
cherry
orange
kiwi
melon
mango

In [62]:
# range(len(tuple))

for i in range(len(tup13)):
    print(tup13[i])

apple
banana
cherry
orange
kiwi
melon
mango

In [61]:
for i in range(len(tup3)):
    print(i)

0
1
2
3
4
5
6

### Join tuples:

To join two or more tuples:
- use + operator

In [64]:
tup14= ("Melissa", "Vidiera", "Whisky")
tup15= (1,2,3,4,5)


tup16= tup14+ tup15
tup16

('Melissa', 'Vidiera', 'Whisky', 1, 2, 3, 4, 5)

### multiply tuples

In [66]:
tup17= ("Melissa", "Vidiera", "Whisky")

tup18= tup17*3
tup18

# multiply by whole tuple not item wise. That is Melissa wont be repeated thrice consecutively

('Melissa',
 'Vidiera',
 'Whisky',
 'Melissa',
 'Vidiera',
 'Whisky',
 'Melissa',
 'Vidiera',
 'Whisky')

### Tuple methods: count() index()

In [73]:
tup18.index("Whisky")

2

In [74]:
tup18.index("Sourav")

ValueError: tuple.index(x): x not in tuple

In [70]:
tup18.count("Melissa")

3

In [76]:
tup18.count("Sourav")

0