### Sets:
- stores multiple items in single variable.
- it is unordered, unchangeable and unindexed.
- Unordered: it is not ordered like other data types, any item can appear when I display or run
- unindexed:
- unchangeable: once the set has been created, cant be changed. but can be added 
- Duplicates are not allowed.

In [1]:
# Create a set

set1= {"Apple", "Banana", "Cherry"}
set1

{'Apple', 'Banana', 'Cherry'}

In [2]:
type(set1)

set

In [3]:
# duplicates are not allowed
set2= {"Apple", "Banana", "Apple", "Cherry"}
set2

{'Apple', 'Banana', 'Cherry'}

In [5]:
# can strore different data types

set3= {"Apple", "Banana", "Mango","Apple", "Cherry", True, False, 1940, 18.45}
set3

# set will be arranged alphabetically, thoiugh I have not declared like that. Unindexed.

{18.45, 1940, 'Apple', 'Banana', 'Cherry', False, 'Mango', True}

In [8]:
# 0 in set will be considered as False and 1 as True. as there are already False and True, it will be considered 
# as duplicates and wont be displayed

set4= {"Apple", "Banana", "Mango","Apple", "Cherry", True, False, 0, 1}
set4

{'Apple', 'Banana', 'Cherry', False, 'Mango', True}

In [9]:
#length of set
len(set4)

6

In [10]:
# set constructor: 
# like other data type where I need to provide (( )) for constuctor, doesnt work for sets 
# keyword "set" has to be typed with (()) not {{}}


set_constructor = set(( "Apple", "Banana", "Cherry"))
set_constructor

{'Apple', 'Banana', 'Cherry'}

In [11]:
type(set_constructor)

set

### Access Set items
- As sets don't have indices, it can be accessed using "for loop"
- other way to acess is to see if the item is presenf int the set usng "in" keyword

In [12]:
set4= {"Apple", "Banana", "Mango","Apple", "Cherry", True, 0, 1}

for i in set4:
    print(i)

0
True
Cherry
Apple
Mango
Banana

In [13]:
print( "mango" in set4)
# case sensitive

False

In [14]:
print( "Mango" in set4)

True

In [16]:
print("Banana" not in set4)

False

### Adding set items:

- Once the set has been created, it cant be changed. But items can be added. using add(). using add() only one item can be added.
- to add more than one item, create another set with the items to be added and add that set to existing set using update()

In [17]:
#add()
set5= {"Apple", "Banana", "Mango","Apple", "Cherry"}

set5.add("watermelon")

set5

{'Apple', 'Banana', 'Cherry', 'Mango', 'watermelon'}

In [22]:
# with add() I can add only one item
set5.add('grapes', 'watermelon')
set5

TypeError: set.add() takes exactly one argument (2 given)

In [21]:
#  update()

set6 = {"Apple", "Banana", "Mango","Apple", "Cherry"}
set7= {"grapes", "watermelon", "papaya"}

set6.update(set7)
set6


#set6= set6.update(set7)-> assgining doesnt work

{'Apple', 'Banana', 'Cherry', 'Mango', 'grapes', 'papaya', 'watermelon'}

### Remove set items:

1. remove(item)
2. discard(item)
3. pop(): this will randomly delete the item. As the set is unindexed.
4. clear() will clear all the items from the set. But set exists
5. del keyword will delete entire set, set doesnt exists.

In [23]:
# remove()

set8= {'Apple', 'Banana', 'Cherry', 'Mango', 'grapes', 'papaya', 'watermelon'}
set8.remove("Apple")
set8

{'Banana', 'Cherry', 'Mango', 'grapes', 'papaya', 'watermelon'}

In [27]:
set8.remove('carrot')

# it will throw error if I want to remove any item which doesnt exist in the set.

KeyError: 'carrot'

In [24]:
#discard()

set8.discard("grapes")
set8

{'Banana', 'Cherry', 'Mango', 'papaya', 'watermelon'}

In [26]:
set8.discard('carrot')
set8
# carrot doesnt exist, doesnt discard anything. doesnt throw an error.

{'Banana', 'Cherry', 'Mango', 'papaya', 'watermelon'}

In [28]:
x= set8.pop()
print(x)

Cherry

In [29]:
set8

{'Banana', 'Mango', 'papaya', 'watermelon'}

In [30]:
# clear() clears all elements, return empty set
set8.clear()
set8

set()

In [31]:
del set8

In [33]:
set8
# after deleting, entire set doesnt exists

NameError: name 'set8' is not defined

### Loop sets:

- sets can be looped using for loop only

In [37]:
set9= {'Banana', 'Cherry', 'Mango', 'grapes', 'papaya', 'watermelon'}


for i in set9:
    print(i)
# as items are not indexed, items will be unordered.

Cherry
grapes
Mango
watermelon
papaya
Banana

In [38]:
set10= {'Apple', 'Banana', 'Cherry', 'Mango', 'grapes', 'papaya', 'watermelon', 0, 1, True, False}


for i in set10: 
    print(i)

0
1
Mango
papaya
Cherry
Apple
grapes
watermelon
Banana

### join sets:

There are 5 ways to join 2 or more sets. 

1. union() : joins all items from 2 or more sets
2. update() : same as union(), joins all items from 2 or more sets.
- both union() and update() discard duplicates.
3. intersection(): it keeps only the duplicates. Intersection from both set. 
4. difference(): set has 6 items and set2 has 4. this keeps only the difference that is 2 in set1 which are not in set 2 or other sets.
5. symmetric_difference(): this keeps all the items except duplicates.

In [39]:
#union()
set11= {"a", "b", "c"}
set12= {1, 2, 3}

set13= set11.union(set12)
set13

{1, 2, 3, 'a', 'b', 'c'}

In [41]:
# without using extra var
set11 = set11.union(set12)
set11

{1, 2, 3, 'a', 'b', 'c'}

In [42]:
# instead of using union() I can use | 

set11= {"a", "b", "c"}
set12= {1, 2, 3}

set13= set11 | set12
set13

{1, 2, 3, 'a', 'b', 'c'}

In [44]:
# joining multiple sets using union()

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set5= set1.union(set2, set3, set4)
set5

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [45]:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set5= set1|set2|set3|set4
set5

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [48]:
# with help of union, I can join set and tuple as well

x= {1,2,3,4}
y= ('A', 'b')

x= x.union(y)
x

{1, 2, 3, 4, 'A', 'b'}

In [49]:
# 2. update

x= {1,2,3,4}
y= ('A', 'b')

x.update(y)
x

{1, 2, 3, 4, 'A', 'b'}

In [51]:
# 3. Intersection:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3= set1.intersection(set2)
set3

{'apple'}

In [53]:
#if there is no common item, it returns empty set
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft"}

set3= set1.intersection(set2)
set3

set()

In [55]:
# I can use & operation for set intersection as well. 
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3= set1&set2
set3

{'apple'}

In [56]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection(set2)

{'apple'}

In [58]:
set1

{'apple'}

In [59]:
# instead of just returning new set with only common items, intersection_update() will change the original set 

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
set1

{'apple'}

In [60]:
set1

{'apple'}

In [62]:
# sets will discard duplicates. set see True and False as duplicates.

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3= set1.intersection(set2)
set3

# common ones are apple in both set. set1 has 0 and set 2 has False. so intersected set has False.

{1, False, 'apple'}

In [63]:
# 4. difference:
# return the set which is in set1 and not in set2

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3= set1.difference(set2)
set3

{'banana', 'cherry'}

In [65]:
set1 = {"google", "microsoft"}
set2 = {"google", "microsoft", "apple"}

set3= set1.difference(set2)
set3

# google and MS is in both sets. there is nothing in set1 which is not in set2. it returns empty set

set()

In [66]:
# using - operand for difference


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3= set1 - set2
set3

{'banana', 'cherry'}

In [67]:
# difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [71]:
# 5. symmetric difference()
# this keeps items which are not present in both. opposite of intersection()

set1 = {"apple", "banana", "google"}
set2 = {"google", "microsoft", "apple"}

set3= set1.symmetric_difference(set2)
set3

{'banana', 'microsoft'}

In [72]:
# can use ^ operator for symmetric_difference()

set1 = {"apple", "banana", "google"}
set2 = {"google", "microsoft", "apple"}

set3= set1^set2
set3

{'banana', 'microsoft'}

In [77]:
# symmetric_difference_update(): no need of extra variable



set1 = {"apple", "banana", "google"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
set1

{'banana', 'microsoft'}

In [79]:
set1 = {"apple", "banana", "google"}

copy_set1= set1.copy()
copy_set1

{'apple', 'banana', 'google'}

In [80]:
# check if set 1 is subset of set2: issubset()

set1 = {"apple", "banana"}
set2 = {"google", "microsoft", "apple", "banana"}

set1.issubset(set2)

True

In [82]:
# to check if set1 is  superset of set2: issuperset()

set2.issuperset(set1)

True

In [84]:
#isdisjoint(): to check if no item is repeated in any set

set1 = {"Cherry", "mango"}
set2 = {"google", "microsoft", "apple", "banana"}

set1.isdisjoint(set2)

True