### while loop

In [1]:
i=0
while(i<6):
    print(i)
    i += 1

0
1
2
3
4
5

#### break statement

In [2]:
# exit the loop when i is 3

i = 0
while(i< 6):
    print(i)
    if i == 3:
        break
    i += 1

0
1
2
3

#### continue statement

In [8]:
#continue to next iteration if i= 3

# when 3 is encountered, that piece of code is not printed and the next number is considered. 

i = 0

while(i<6):
    i += 1
    
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [7]:
# here if the letter is "i" then ignore i and continue the rest

for i in "melissa":
    if i == 'i':
        continue
    print("current letter is", i)
print("All letters are iterated")

current letter is m
current letter is e
current letter is l
current letter is s
current letter is s
current letter is a
All letters are iterated

In [9]:
# whent the current letter is 'i', then break entire loop
for i in "melissa":
    if i == 'i':
        break
    print("current letter is", i)
print("All letters are iterated")

current letter is m
current letter is e
current letter is l
All letters are iterated

In [11]:
# while and else: else condition will not be inside the while loop. 

# using else inside while, doesnt need if condition. 




i = 0

while(i<6):
    print(i)
    i += 1
    
else:
    print(" i is no longer less than 6")

0
1
2
3
4
5
 i is no longer less than 6

### for loop

In [12]:
fruits = ["apple", "banana", "cherry"]

for i in fruits: 
    print(i)

apple
banana
cherry

In [14]:
# iterating within the word

for i in "Whisky":
    print(i)

W
h
i
s
k
y

In [24]:
for i in "whisky":
    if(i == 'k'):
        break
    print(i)

w
h
i
s

In [26]:
for i in fruits:
    if i== "banana":
        break
    print(i)

apple

In [27]:
# continue

for i in fruits:
    if i== "cherry":
        continue
    print(i)

apple
banana

In [32]:
# range

for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [33]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [34]:
# else in for loop

for i in range(5):
    print(i)
else:
    print("iteration is finished")

0
1
2
3
4
iteration is finished

In [36]:
# else wont be executed if there is break 

for i in fruits:
    if i== "cherry":
        break
    print(i)

else:
    print("end of string")

apple
banana

In [37]:
# nested loops

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for i in adj: 
    for j in fruits: 
        print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [38]:
#pass: it is used for empty loop with no statement. doesnt get any error

for i in "melissa":
    pass